version: "3.3"
services:
  traefik:
    image: "traefik:v2.4"
    container_name: "traefik"
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
    ports:
      - "80:80"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
  rcaas-ui:
    build: "./rcaas-ui"
    container_name: "rcaas-ui"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.web.rule=Host(`localhost`)"
      - "traefik.http.routers.web.entrypoints=web"
      - "traefik.http.services.web.loadbalancer.server.port=8080"
  rcaas-api:
    build: "./rcaas-api"
    container_name: "rcaas-api"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.api.rule=Host(`localhost`) && PathPrefix(`/api`)"
      - "traefik.http.routers.api.entrypoints=web"
      - "traefik.http.services.api.loadbalancer.server.port=8080"
  database:
    image: "postgres"
    container_name: "postgresql"
    volumes:
      - /tmp/var/lib/postgresql:/var/lib/postgresql
    environment:
      - "POSTGRES_USER=application"
      - "POSTGRES_PASSWORD=application"
      - "POSTGRES_DB=apps"