apiVersion: v1
kind: Service
metadata:
  name: rcaas-ui-service
  namespace: rcaas
spec:
  selector:
    app: rcaas-ui-app
  ports:
    - protocol: "TCP"
      port: 80
      targetPort: 8080

---

apiVersion: v1
kind: Service
metadata:
  name: rcaas-api-service
  namespace: rcaas
spec:
  selector:
    app: rcaas-api-app
  ports:
    - protocol: "TCP"
      port: 80
      targetPort: 8080

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: rcaas-ui-app
  namespace: rcaas
spec:
  selector:
    matchLabels:
      app: rcaas-ui-app
  replicas: 1
  template:
    metadata:
      labels:
        app: rcaas-ui-app
    spec:
      containers:
        - name: rcaas-ui-app
          image: {{ .Values.registry }}/rcaas-ui
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          resources:
            requests:
              memory: "256Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "100m"
---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: rcaas-api-app
  namespace: rcaas
spec:
  selector:
    matchLabels:
      app: rcaas-api-app
  replicas: 1
  template:
    metadata:
      labels:
        app: rcaas-api-app
    spec:
      containers:
        - name: rcaas-api-app
          image: {{ .Values.registry }}/rcaas-api
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          resources:
            requests:
              memory: "512Mi"
              cpu: "500m"
            limits:
              memory: "512Mi"
              cpu: "500m"

---

apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: rcaas-ingress
  namespace: rcaas
  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: letsencrypt
spec:
  tls:
    - secretName: rcaas-tls-pmft2
      hosts:
        - releasecalendar.app
        - www.releasecalendar.app
  rules:
    - host: releasecalendar.app
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: rcaas-ui-service
                port:
                  number: 80
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: rcaas-api-service
                port:
                  number: 80
    - host: www.releasecalendar.app
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: rcaas-ui-service
                port:
                  number: 80
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: rcaas-api-service
                port:
                  number: 80