spring:
  threads:
    virtual:
      enabled: true
  datasource:
    name: rcaas
    url: jdbc:postgresql://postgres:5432/apps
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    generate-ddl: true
    hibernate:
      ddl-auto: update
    open-in-view: false
  main:
    lazy-initialization: true
  jmx:
    enabled: false