name: Rcaas Deploy Pipeline
on:
  workflow_dispatch:
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install
        uses: wahyd4/kubectl-helm-action@master
        env:
          KUBE_CONFIG_DATA: ${{ secrets.KUBE_CONFIG }}
        with:
          args: helm upgrade --install --set registry=${{ secrets.SCW_DOCKER_REGISTRY }} --set email=${{ secrets.ACME_EMAIL }} rcaas deployment
      - name: Rollout
        uses: wahyd4/kubectl-helm-action@master
        env:
          KUBE_CONFIG_DATA: ${{ secrets.KUBE_CONFIG }}
        with:
          args: kubectl rollout restart deploy rcaas-api-app rcaas-ui-app
